* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {}

.header {
    background-color: rgb(116, 178, 211);
    text-align: center;
    padding: 60px;
}

.navbar {
    background-color: beige;
    display: flex;
    padding: 14px 20px;
    text-align: center;

}

.navbar a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.4rem;
    color: #222;
}

.navbar a:hover {
    background-color: antiquewhite;
    border-radius: 10px;
}

.image {
    padding: 20px;
    background-color: #ccc;

}

.footer {
    padding: 20px;
    background-color: #ccc;

}

/* mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
}