* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 24px;
  line-height: 1.5;
}

.content h1 {
  font-size: 3.2rem;
}

.content p {
  margin: 16px 0;
  font-size: 1.8rem;
}

.content img {
  max-width: 100%;
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
  display: flex;
}

.contentModal {
  position: relative;
  width: 440px;
  margin: auto;
}

.contentModal img {
  width: 100%;

}

.contentModal button {
  background: #ccc;
  top: 0;
  position: absolute;
  left: 100%;
  background-color: #ccc;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 999px;
  font-size: 20px;
}